@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
  --secondary: #444444;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family:  Arial, Helvetica, sans-serif,var(--font-sublima-bold), var(--font-sublima-light), var(--font-arcade-out), var(--font-arcade-k), ;
  margin-bottom: 5px;
}
